html {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-grid {
    display: grid;
    grid-template-columns: 65% 25%;
    gap: 1.5rem;
}

.video {
    width: 100%;
    height: 480px;
}

.youtube-logo {
    height: 20px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}

.search-input {
    width: 100%;
    padding: .4rem;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: inherit;
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    border-left: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
    background-color: #f8f8f8;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f0f0f0;
}

.menu-icons {
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    gap: 1.5rem;
}

.channel-icon {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.video-comment-container {
    margin: 2rem 0 0 2rem;
}

.related-video-div {
    margin-top: 6rem;
    padding: 0 .5rem;
}

.up-next {
    padding-bottom: .5rem;
    border-bottom: 1px solid ;
    margin-bottom: 1rem;
}
.up-next-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.related-video {
    display: flex;
    margin-bottom: .5rem;
}

.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    right: 2px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
}

.thumbnail {
    position: relative;
}

.thumbnail-image {
    cursor: pointer;
}

.related-video-details {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: .9rem;
    margin-left: .5rem;
}

.related-video-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: .2rem;
}

.related-channel-name {
    text-decoration: none;
    color: #777;
    margin-bottom: .2rem;
}

.related-video-metadata {
    font-size: .8rem;
    color: #777;
}

.video-div {
    margin-bottom: .5rem;
}

.video-title {
    font-weight: bold;
    cursor: pointer;
}

.video-main-details {
    color: #777;
    font-size: .9rem;
    padding-bottom: .5rem;
}
.video-metadata {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid lightgray;
    margin-top: .5rem;
    padding-bottom: 1rem;
}

.video-feedback-details {
    display: flex;
    padding-bottom: .5rem;
    border-bottom: solid 2px black;
}

.thumb-btn {
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: space-between;
    border: none;
    cursor: pointer;
}

.video-description {
    display: flex;
    position: relative;
    margin-top: 1rem;
}
.channel-info {
    display: flex;
    align-items: top;
    justify-content: space-between;
    position: relative;
}

.description-logo {
    border-radius: 50%;
    height: 60px;
    margin-right: .5rem;
    cursor: pointer;
}
.subscribe-btn {
    position: absolute;
    right: 0;
    height: 40px;
    width: 100px;
    background-color: red;
    color: white;
    border: none;
    font: inherit;
    font-size: .9rem;
    font-weight: bold;
    padding: .2rem .5rem;
    cursor: pointer;
}

.channel-details {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

.video-channel-name {
    font-weight: bold;
    font-size: .95rem;
    cursor: pointer;
}

.video-channel-subs {
    color: #777;
    font-size: .8rem;
}

.video-description-text {
    font-size: .9rem;
    margin-top: 2rem;
}

.video-comments-div {
    margin-top: 2rem;
    border-top: 1px solid lightgray;
    padding-top: 1rem;
}

.enter-comment-div {
    display: flex;
    align-items: flex-start;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
}

.comment-logo {
    border-radius: 50%;
    height: 45px;
    cursor: pointer;
}

.comment-input-bar {
    width: 100%;
    margin-left: 1rem;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-bottom: .5rem;
    font: inherit;
    font-size: .9rem;
}

.comment-input-bar:focus {
    outline: none;
    border-bottom: solid 2px black;
}

.comment {
    display: flex;
    margin-bottom: 2rem;
    font-size: .86rem;
}

.comment-data {
    margin-left: 1rem;
}

.comment-metadata {
    margin-bottom: .5rem;
}
.comment-username {
    font-weight: bold;
    cursor: pointer;
}

.comment-time {
    color: #777;
}

.comment-text {
    font-size: .9rem;
    margin-bottom: .5rem;
}

.comment-feedback-details {
    display: flex;
    align-items: center;
}

.comment-thumb-btn {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.comment-thumb-btn span {
    margin-left: .5rem;
}

.comment-thumb-image {
    width: 15px;
}

.reply {
    margin-left: .5rem;
    font-size: .8rem;
    cursor: pointer;
}
